{% if post.author %}
  {% assign author = post.author %}
{% elsif page.author %}
  {% assign author = page.author %}
{% else %}
  {% assign author = site.author %}
{% endif %}
{% if author %}<span class="byline author vcard">Posted by <span class="fn"><a href="http://aijazansari.com/about/" rel="me">{{ author }}</a></span></span>{% endif %}
