{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %} >
  {% if page.header == 'condensed' %}
   <header role="banner" class="condensed">{% include custom/headerCondensed.html %}</header>
  {% else %}
   <header role="banner">{% include header.html %}</header>
  {% endif %}
  <nav role="navigation">{% include navigation.html %}</nav>
  <div id="main"{% if page.header == 'condensed' %} class="photo"{% endif %}>
    <div id="content"{% if page.header == 'condensed' %} class="photo"{% endif %}>
      {{ content | expand_urls: root_url }}
    </div>
  </div>
  <footer role="contentinfo">{% include footer.html %}</footer>
  {% include after_footer.html %}
</body>
</html>
