<p>
  Copyright &copy; 2009 - {{ site.time | date: "%Y" }} - <a href="http://aijazansari.com/about/" rel="me">{{ site.author }}</a> -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p>
