<hgroup>
<h1 class="condensed"><a href="{{ root_url }}/"><span class="titleL">The</span><span class="titleB">Joy</span><span class="titleL">Of</span><span class="titleB">Hack</span></a></h1> {% if site.subtitle %}  <h2 class="condensed">{{ site.subtitle }}</h2>  {% endif %}
</hgroup>
