<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Home</a></li>
  <li><a href="{{ root_url }}/about/">About Me</a></li>
  <li><a href="{{ root_url }}/categories/">Categories</a></li>
  <li><a href="{{ root_url }}/tags/">Tags</a></li>
  <li><a href="{{ root_url }}/urlschemelist/">iOS URL Schemes</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
</ul>
