{% unless page.no_header %}
  <header>
    {% if index %}
      <h1 class="entry-title"><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
    {% else %}
      <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    {% endif %}
    {% unless page.meta == false %}
      <p class="meta">
        {% include post/date.html %}{{ time }}
        {% if site.disqus_short_name and page.comments != false and site.disqus_show_comment_count == true %}
         | <a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread">Comments</a>
        {% endif %}
      </p>
    {% endunless %}
  </header>
{% endunless %}
{% if index %}
  <div class="entry-content">
    {{ content | excerpt }}
  </div>
  {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
  {% if excerpted == 'true' %}
    <footer>
      <a rel="full-article" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
    </footer>
  {% endif %}
{% else %}


<div class="aip" style="width:788px">
  <a href="{{ page.image }}"
     title="ISO {{ page.iso }} :: f/{{ page.aperture }} :: {{ page.shutterSpeed }}s :: {{ page.focalLength }} :: {{ page.flash }}{% if page.expComp %} :: {{ page.expComp }}ev{% endif %}"
     ><img
         src="{{ page.image }}"
         width="{{ page.photoWidth }}"
         height="{{ page.photoHeight }}"
         alt="ISO {{ page.iso }} :: f/{{ page.aperture }} :: {{ page.shutterSpeed }}s :: {{ page.focalLength }} :: {{ page.flash }}{% if page.expComp %} :: {{ page.expComp }}ev{% endif %}"
         border="0" /></a>
  <br>
  <div class="photoDescL">
    <h1 class="entry-title">{{ page.title }}</h1>
    {{ content }}
  </div>
  <div class="photoDescR">
    {% if page.histogram %}<img align="right" style="border-width: 0; border-radius: 0; border: 1px solid #999999;"  alt="Histogram" width="{{ page.histogramWidth }}" height="{{ page.histogramHeight }}" src="{{ page.histogram }}">{% endif %}
    ISO {{ page.iso }} ::
    f/{{ page.aperture }} ::
    {{ page.shutterSpeed }}s ::
    {{ page.focalLength }} ::
    {{ page.flash }}
    {% if page.expComp %} :: {{ page.expComp }}ev{% endif %}<br>
    {% if page.copyright %}{{ page.copyright }}<br>{% endif %}
    {% if page.license %}{{ page.license }}<br>{% endif  %}
    {% if page.camera and page.lens and page.dateTaken %}Taken with a {{ page.camera }} and {{ page.lens }} on {{ page.dateTaken }}.<br>{% endif %}
    </div>
</div>    


{% endif %}

