// Here you can easily change font faces which are used in your site.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works. your sites's.
// If you love to use Web Fonts, you also need to add some lines to source/_includes/custom/head.html

//$sans: "Helvetica", sans-serif;
//$serif: "Helvetica", sans-serif;
//$sans: "minion-pro", "Helvetica", sans-serif;
//$serif: "minion-pro", "Georgia", sans-serif;
$sans: "minerva-modern", "Helvetica", sans-serif;
$serif: "chaparral-pro", "Georgia", sans-serif;
//$mono: "Courier", monospace;
$heading-font-family: "minerva-modern", "Helvetica", sans-serif;
$header-title-font-family: "minerva-modern", "Helvetica", sans-serif;
$header-subtitle-font-family: "minerva-modern", "Helvetica", sans-serif;
