// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

div.entry-content { font-size: 14pt; }

body > nav a 
{ 
    font-family: "minerva-modern";
    font-weight: 400;
    font-style: normal;
}

span.categories, div.category_list
{ 
    font-family: "minerva-modern";
    font-weight: 400;
    font-style: normal;
}

.titleL { 
    font-family: "minerva-modern";
    font-weight: 200;
    font-style: normal;
}

.titleB { 
    font-family: "minerva-modern";
    font-weight: 700;
    font-style: normal;
}

div.ail { 
    max-width: 100%;
    float: left;
    font-size: 12pt;
    color: #808080;
    padding-right: 1em;
    font-style: italic;
    text-align: center;
    margin-bottom: 1em;
    line-height: 16pt;
}

div.air { 
    max-width: 100%;
    float: right;
    font-size: 12pt;
    color: #808080;
    padding-left: 1em;
    font-style: italic;
    text-align: center;
    margin-bottom: 1em;
    line-height: 16pt;
}

div.aic { 
    max-width: 100%;
    font-size: 12pt; 
    color: #808080;
    font-style: italic;
    text-align: center;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    line-height: 16pt;
}

div.aip { 
    max-width: 100%;
    color: #808080;
    text-align: left;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    font-size: 14pt;
    line-height: 18pt;
}


div.air img { 
    max-width: 100%;
}


div.ail img { 
    max-width: 100%;
}


div.aic img { 
    max-width: 100%;
}


div#tag_list {
    font-size: 12pt;
}

#tags_ul { 
    display: inline;
}

#tags_ul li:last-child:after {
  content: "";
}

#tags_ul li:after {
  content: ", ";
}

.tag_1 { 
    font-weight: 200; 
    font-size: 10pt;
}

.tag_2 { 
    font-weight: 200; 
    font-size: 12pt;
}

.tag_3 { 
    font-weight: 300; 
    font-size: 14pt;
}

.tag_4 { 
    font-weight: 300; 
    font-size: 14pt;
}

.tag_5 { 
    font-weight: 400; 
    font-size: 16pt;
}

.tag_6 { 
    font-weight: 400; 
    font-size: 18pt;
}

.tag_7 { 
    font-weight: 700; 
    font-size: 18pt;
}

.tag_8 { 
    font-weight: 700; 
    font-size: 20pt;
}

.tag_9 { 
    font-weight: 900; 
    font-size: 22pt;
}

.tag_10 { 
    font-weight: 900; 
    font-size: 24pt;
}



#tags_ul li {
    display: inline; 
}




.tag_page .tag_1 { 
    font-weight: 200; 
    font-size: 12pt;
}

.tag_page .tag_2 { 
    font-weight: 200; 
    font-size: 14pt;
}

.tag_page .tag_3 { 
    font-weight: 300; 
    font-size: 16pt;
}

.tag_page .tag_4 { 
    font-weight: 300; 
    font-size: 18pt;
}

.tag_page .tag_5 { 
    font-weight: 400; 
    font-size: 20pt;
}

.tag_page .tag_6 { 
    font-weight: 400; 
    font-size: 22pt;
}

.tag_page .tag_7 { 
    font-weight: 700; 
    font-size: 24pt;
}

.tag_page .tag_8 { 
    font-weight: 700; 
    font-size: 26pt;
}

.tag_page .tag_9 { 
    font-weight: 900; 
    font-size: 28pt;
}

.tag_page .tag_10 { 
    font-weight: 900; 
    font-size: 30pt;
}

.tag_page a { 
    color: #666;
}

// added for the photo layout
header.condensed {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 0;
    padding-bottom: 0;
}

h1.condensed {
    display: inline;
    font-size: 90%;
}

h2.condensed {
   display: inline;
   font-size: 80%;
}

div#main.photo {
 border: 0;
 }

div#content.photo {
 border: 0;
 }



div.photoThumbnail {
 float: left;
 margin-right: 1em;
 margin-bottom: 1em;
 }

 img.nb {
   border: 1px solid red;
   background: #fff;
 }
 img.sb {
   border: 1px solid #666;
 }


div.aip h1.entry-title {
font-size: 1em;
margin-top: 0.5em;
margin-bottom: 0.5em;
}


div.photoDescL {
   text-align: left;
   color: #606060;
}

div.photoDescR {
   font-style: italic;
   border-top: 1px dotted #c0c0c0;
   padding-top: 0.5em;
   margin-top: 0.5em;
   text-align: left;
}

div.quran { 
 border: 1px solid #e0e0e0 !important;
 background-color: #f0f0f0 !important;
 margin-bottom: 1.5em;
}
div.qa {
    text-align: center;
    font-size: 1.5em;
    line-height: 1.75em !important;
    margin-top: 0.5em;
    display: block;
}
div.qe { 
    margin-top: 1em;
    text-align: center;
    margin-bottom: 0.5em;
    display: block;
}
